main{
    padding-top: 150px;
    display: flex;

}
.left{
    width: 60%;
    /* border: 2px solid red; */
    
    
}
.left img{
    height: 700px;
    width: 700px;
    padding-bottom: 50px;
    padding-left: 150px;
}
.right{
    width: 40%;
    position: sticky;
}

.right h1{
    font-weight: 700;
    font-family:sans-serif;
    text-align: center;
}
.right span{
    font-size: 19px;
}

#black, #gray{
    display: inline-block;
    height: 30px;
    width: 30px;
    /* border: 2px solid; */
    border-radius: 50%;

}
#black{
    background-color: black;
}
#gray{
    background-color: gray;
}

select{
    height: 40px;
    width: 400px;
}

/* .quant{
    height: 40px;
    width: 200px;
    border: 1px solid;
} */

.right>button{
    height: 40PX;
    width: 400PX;
    background-color: black;
    color: white;
}

