*{
    margin: 0px;
    box-sizing: border-box;
}
.navbar{
    height: 90px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}

ul a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

#nav-list1{
    width: 625px;
    /* border: 2px solid white; */
}

#nav-list2{
    width: 300px;
}
footer{
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
}
footer ul{
    width: 400px;
    padding-top: 50px;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
}
footer a{
    color: white;
    text-decoration: none;
}
